# Virtual environments
venv/
env/
.env
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Databases
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Node.js
node_modules/
dist/
.vscode/

# API credentials and sensitive data (ignore everything except auth.json)
api/*
!api/auth.json
