fastapi
uvicorn[standard]
sqlmodel
sqlalchemy
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pandas
openpyxl
python-multipart
psycopg2-binary
